<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add customer</title>
</head>
<body>
    <h2>Add Customer</h2>
    <form method="POST">
        <label for="name"> Name:</label>
        <input type="text" name="name" required> <br>

        <label for="phone"> Phone:</label>
        <input type="text" name="phone" required> <br>
        
        <label for="email"> Email:</label>
        <input type="text" name="email" > <br>
        
        <button type="submit"> Add Customer </button>

    </form>
</body>
</html>